* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E6E8EB;
  font-family: 'Poppins', sans-serif;
  color: #494D4B;
}

header {
  background: linear-gradient(#6F48C9,#8257E5,#9164FA,#9F75FF);
  padding: 3rem 0 4rem;
  text-align: center;
  font-weight: 900;
}

ul {
  margin-top: -1rem;
  text-align: center;
}

ul li {
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  padding: 0.4rem;
  background-color: #F7F8FA;
}

ul li:hover {
  background-color: white;
  cursor: pointer;
}

.cards {
  width: 40%;
  margin: auto;
  margin-top: 2rem;
  background-color: #F7F8FA;
  /* border: #F7F8FA 1px solid; */
  padding: 1rem 1rem 1.5rem;
  border-radius: 0.3rem;
}

.cards h3 {
  margin-bottom: 1rem;
  font-weight: 700;
}

.values {
  display: flex;
  justify-content:space-between;
}

.values p {
  font-size: 0.9rem;
}

.fas {
  margin-right: 3rem;
  font-size: 1.25rem;
}

.fa-plus-circle {
  color: #04D361;
}

.fa-minus-circle {
  color: #F42525;
}

#balance {
  text-align: center;
  margin-top: 2rem;
}

#balance h3 {
  margin-bottom: 0.75rem;
}

.inputs {
  border: #F7F8FA 1px solid;
  border-radius: 0.2rem;
  background-color: #F7F8FA;
  padding: 0.5rem;
  margin-right: 0.75rem;
}

button {
  padding: 0.35rem;
  background-color: #F7F8FA;
  border: #AFB2B1 1px solid;
}

#transactions {
  margin-top: 2rem;
}

table {
  width: 50%;
  margin: auto;
  border-spacing: 0 0.5rem;
  /* text-align: left; */
}

tr td:first-child, 
tr th:first-child {
  border-radius: 0.3rem 0 0 0.3rem ;
}

tr td:last-child, 
tr th:last-child {
  border-radius: 0 0.3rem 0.3rem 0;
}

th {
  text-align: center;
}

td {
  background-color: #F7F8FA;
  padding: 0.4rem;
  font-weight: 400;
  opacity: 0.8;
}

tbody tr{
  opacity: 0.8;
}

tbody tr:hover {
  background-color: white;
  opacity: 1;
  cursor: pointer;
}

.incomes {
  color: #04D361;
}

.expenses {
  color: #F42525;
}